.row {
  display: flex;
  flex-wrap: nowrap;
}

.row_center {
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
}

.row_sb {
  justify-content: space-between;
}
.row_sa {
  justify-content: space-around;
}

.row_top {
  align-items: start;
}
.row_gap {
  gap: .5rem;
}

.row_end {
  justify-content: flex-end;
}

.row_col {
  flex-direction: column;
}

.container, .container_f {
  padding-right:24px;
  padding-left:24px;
  margin-right:auto;
  margin-left:auto;
  width: 100%;
  box-sizing: border-box;
  position: relative;
 }

.shake:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.center {
  text-align: center;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.flex {
  display: flex !important;
  -ms-flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
}


@media screen and (min-width:320px) {
  .row-1\@xs>* {width: 100%;}
  .row-1-2\@xs>* {width: 50%;}
  .row-1-3\@xs>* {width: 33.33%;}
  .row-1-4\@xs>* {width: 25%;}
  .row-1-5\@xs>* {width: 20%;}
  .row-1-6\@xs>* {width: 16.66%;}

  .col-1\@xs {width: 100%;}
}

@media screen and (min-width:768px) {}

@media screen and (min-width:992px) {

  .col-1\@m {width: 100%;}
  .col-1-2\@m {width: 50%;}
  .col-1-3\@m {width: 33.33%;}
  .col-2-3\@m {width: 66.66%;}
  .col-1-4\@m {width: 25%;}
  .col-3-4\@m {width: 75%;}
  .col-1-5\@m {width: 20%;}
  .col-2-5\@m {width: 44%;}
  .col-3-5\@m {width: 56%;}
  .col-4-5\@m {width: 80%;}

  .row-1\@m>* {width: 100%;}
  .row-1-2\@m>* {width: 50%;}
  .row-1-3\@m>* {width: 33.33%;}
  .row-1-4\@m>* {width: 25%;}
  .row-1-5\@m>* {width: 20%;}
  .row-1-6\@m>* {width: 16.66%;}
}

@media screen and (min-width:1200px) {

}

@media(max-width:767px) {
  .hidden-xs {display:none !important;}
}
@media(min-width:768px) and (max-width:991px) {
  .hidden-sm {display:none !important;}
}
@media(min-width:992px) and (max-width:1199px) {
  .hidden-md {display:none !important;}
}
@media(min-width:1200px) {
  .hidden-lg {display:none !important;}
}