@font-face {
    font-family: 'OpenSans';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("OpenSans-CondLight.ttf") format("truetype");
  }
 
   @font-face {
    font-family: 'OpenSans';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("OpenSans-CondBold.ttf") format("truetype");
  }